<footer class="main-footer">
    <div class="container">
        <div class="footer-row row">
            <div class="col-md-3">
                <p>
                    <a href="http://neueda.com">
                        <img class="logo" src="{{ site.github.url }}/public/images/neueda_mono.svg" alt="Neueda">
                    </a>
                </p>
                <p>Copyright © 2016</p>
            </div>
            <div class="col-md-4">
                <h3>Backed by Neueda</h3>
                <p>
                    We have a range of customized training courses
                    designed to allow the team to quickly acquire the competence needed
                    in Agile, test automation, and graph databases.
                </p>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h3>Get in touch</h3>
                <ul class="list-unstyled fa-ul">
                    <li>
                        <a href="mailto:david.claffey@neueda.com">
                            <i class="fa fa-li fa-paper-plane"></i>
                            david.claffey@neueda.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:+353877791003">
                            <i class="fa fa-li fa-phone"></i>
                            +353 877791003
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Load javascript at the end of page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="{{ site.github.url }}/public/scripts/main.js"></script>
