<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Slab:700,400">
    <link rel="stylesheet" href="{{ site.github.url }}/public/styles/theme.css">

    <link rel="shortcut icon" href="{{ site.github.url }}/favicon.ico" type="image/x-icon">

    <title>
        Neueda R&D {% if page.title %}- {{ page.title }}{% endif %}
    </title>

    {% feed_meta %}
    {% seo %}
</head>
