{{ define "main" }}
<div class="join-us">
    <header class="main-header">
        <div class="container">
            <div class="main-header-content">
                <h1>Neueda Labs</h1>
                <p>
                    is a software company in Riga
                    <br class="hidden-xs">
                    where anyone can be a hero.
                </p>
            </div>
        </div>
    </header>

    <section class="alt-black">
        <div class="container">
            <div class="section-highlight">
                We are actively looking for serious software developers.
                <br class="hidden-xs hidden-sm">
                If you feel serious, please send us a few lines along with your CV or LinkedIn profile.
            </div>
            <div class="m-top-lg">
                <a class="section-button btn btn-default btn-lg" href="/careers/senior-full-stack-software-engineer/">
                    <i class="fa fa-arrow-right fa-fw"></i>
                    Senior Full-Stack Software Engineer
                </a>
                <a class="section-button btn btn-default btn-lg" href="/careers/software-engineer/">
                    <i class="fa fa-arrow-right fa-fw"></i>
                    Software Engineer
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <header class="section-header">
                <h2 class="title">Join Us</h2>
                <div class="subtitle">
                    Join a team of highly-skilled engineers
                    <br class="hidden-xs">
                    that are genuinely in love with software delivery.
                </div>
            </header>
            <div class="row">
                <div class="col-sm-4 section-point">
                    <img class="icon" src="/public/images/empowered.svg" alt="">
                    <h3>Empowerment</h3>
                    <p>
                        Everyone is involved in architectural decisions and anyone can lead —
                        the only requirement is having skills and passion for the job.
                    </p>
                </div>
                <div class="col-sm-4 section-point">
                    <img class="icon" src="/public/images/enlightened.svg" alt="">
                    <h3>Growth</h3>
                    <p>
                        Over the years, we have made it a habit
                        to host internal workshops about the new and shiny.
                        We also have a self-education budget for every employee.
                    </p>
                </div>
                <div class="col-sm-4 section-point">
                    <img class="icon" src="/public/images/secure.svg" alt="">
                    <h3>Security</h3>
                    <p>
                        We provide stable salaries, health insurance,
                        and flexible working hours.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="alt-gray">
        <div class="container">
            <header class="section-header">
                <h2 class="title">Technologies</h2>
                <div class="subtitle">
                    We believe that amazing technologies
                    <br class="hidden-xs">
                    form the foundation of a successful project.
                </div>
            </header>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                    <div class="row tech-logos">
                        <!-- Java -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Java">
                                <img src="/public/images/tech/java.svg" alt="Java">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Spring Boot">
                                <img src="/public/images/tech/spring-boot.png" alt="Spring Boot">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Gradle">
                                <img src="/public/images/tech/gradle.png" alt="Gradle">
                            </div>
                        </div>

                        <!-- Web -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="JavaScript">
                                <img src="/public/images/tech/javascript.svg" alt="JavaScript">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="React">
                                <img src="/public/images/tech/react.svg" alt="React">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Redux">
                                <img src="/public/images/tech/redux.svg" alt="Redux">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="webpack">
                                <img src="/public/images/tech/webpack.svg" alt="webpack">
                            </div>
                        </div>

                        <!-- Data -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="PostgreSQL">
                                <img src="/public/images/tech/postgresql.svg" alt="PostgreSQL">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Neo4j">
                                <img src="/public/images/tech/neo4j.svg" alt="Neo4j">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Elasticsearch">
                                <img src="/public/images/tech/elasticsearch.svg" alt="Elasticsearch">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="etcd">
                                <img src="/public/images/tech/etcd.svg" alt="etcd">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="RabbitMQ">
                                <img src="/public/images/tech/rabbitmq.svg" alt="RabbitMQ">
                            </div>
                        </div>

                        <!-- Go -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Go">
                                <img src="/public/images/tech/go.svg" alt="Go">
                            </div>
                        </div>

                        <!-- DevOps -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Docker">
                                <img src="/public/images/tech/docker.png" alt="Docker">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Ansible">
                                <img src="/public/images/tech/ansible.svg" alt="Ansible">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Kubernetes">
                                <img src="/public/images/tech/kubernetes.svg" alt="Kubernetes">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Nginx">
                                <img src="/public/images/tech/nginx.svg" alt="Nginx">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Git">
                                <img src="/public/images/tech/git.svg" alt="Git">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <header class="section-header">
                <h2 class="title">Ways of Working</h2>
                <div class="subtitle">
                    We use simple tools and follow a painless process.
                </div>
            </header>
            <div class="row">
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/slack.svg" alt="Slack">
                    <h3>Slack</h3>
                    <p>To always be in touch.</p>
                </div>
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/trello.svg" alt="Trello">
                    <h3>Trello</h3>
                    <p>For planning all the things.</p>
                </div>
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/markdown.svg" alt="Confluence">
                    <h3>Markdown</h3>
                    <p>To organize research.</p>
                </div>
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/diy.svg" alt="DIY">
                    <h3>DIY</h3>
                    <p>For all that is missing.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="alt-gray">
        <div class="container">
            <header class="section-header">
                <h2 class="title">The Community</h2>
                <div class="subtitle">
                    We <i class="fa fa-heart heart"></i> open source and give back to the community.
                </div>
            </header>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4 section-point">
                    <img class="icon" src="/public/images/open-source.svg" alt="Open Source">
                    <h3>Open Source</h3>
                    <p>Open-source contributions aren’t just our hobby — it’s part of the job.</p>
                </div>
                <div class="col-sm-4 section-point">
                    <div class="user-groups">
                        <a class="with-tooltip" data-title="GDG Riga"
                           href="http://gdgriga.lv"><img src="/public/images/community/gdgriga.jpg" alt="GDG Riga"></a>
                        <a class="with-tooltip" data-title="Riga Dev Day"
                           href="http://rigadevday.lv"><img src="/public/images/community/rigadevday.png"
                                                            alt="Riga Dev Day"></a>
                        <a class="with-tooltip" data-title="LDN"
                           href="http://ldn.lv"><img src="/public/images/community/ldn.jpg" alt="LDN"></a>
                    </div>
                    <h3>User Groups</h3>
                    <p>People from Neueda are behind some of the most popular local communities for developers.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="alt-black">
        <div class="container">
            <div class="section-highlight">
                Interested? Why not discuss this in person —
                <br class="hidden-xs hidden-sm">
                drop us a line with your CV attached, and we’ll invite you over for tea.
            </div>
            <a class="section-button btn btn-default btn-lg m-top-lg" href="mailto:zane.kalversha@neueda.com">
                <i class="fa fa-paper-plane fa-fw"></i>
                zane.kalversha@neueda.com
            </a>
        </div>
    </section>

    <section class="no-padding">
        <div id="neueda-map"></div>
    </section>
</div>
{{ end }}
