{{ define "main" }}
<div class="join-us">
    <header class="main-header">
        <div class="container">
            <div class="main-header-content">
                <h1>Neueda Technologies</h1>
                <p>
                    We are a software company
                    <br class="hidden-xs">
                    where anyone can be a hero.
                </p>
            </div>
        </div>
    </header>

    <section class="big-image community">
        <header class="section-header">
            <h2 class="image-title">Customer community</h2>
        </header>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 section-point">
                    <img class="icon" src="/public/images/discussion.svg" alt="">
                    <h3>Knowledge sharing</h3>
                    <p>
                        Every member benefits from the learnings of the other members
                    </p>
                </div>
                <div class="col-sm-6 section-point">
                    <img class="icon" src="/public/images/small-community.svg" alt="">
                    <h3>Focused</h3>
                    <p>
                        The community is kept small, keep learning personal & immediately relevant
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="big-image quality">
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 section-point">
                    <img class="icon" src="/public/images/collaboration.svg" alt="">
                    <h3>Collaboration</h3>
                    <p>
                        Customer collaboration and delivering working software are paramount
                    </p>
                </div>
                <div class="col-sm-6 section-point">
                    <img class="icon" src="/public/images/diamond.svg" alt="">
                    <h3>Perfection</h3>
                    <p>
                        With our staff we will never compromise on technical excellence
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="big-image price">

    </section>

    <section class="alt-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 section-point">
                    <img class="icon" src="/public/images/robot-arm.svg" alt="">
                    <h3>Innovate</h3>
                    <p>
                        We choose technically-excellent individuals & focused teams
                        <br class="hidden-xs">
                        rather than a large-scale low-cost per-head approach
                    </p>
                </div>
                <div class="col-sm-6 section-point">
                    <img class="icon" src="/public/images/target.svg" alt="">
                    <h3>Focus</h3>
                    <p>
                        Locally owned and managed with a singular focus on client delivery
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <header class="section-header">
                <h2 class="title">Our Vision and Values</h2>
            </header>
            <div class="row">
                <div class="col-sm-3 section-point">
                    <img class="icon" src="/public/images/partnership.svg" alt="">
                    <h3>Trust and Respect</h3>
                </div>
                <div class="col-sm-3 section-point">
                    <img class="icon" src="/public/images/goal.svg" alt="">
                    <h3>Create Customer Success</h3>
                </div>
                <div class="col-sm-3 section-point">
                    <img class="icon" src="/public/images/teamwork.svg" alt="">
                    <h3>Challenge. Decide. Commit.</h3>
                </div>
                <div class="col-sm-3 section-point">
                    <img class="icon" src="/public/images/crown.svg" alt="">
                    <h3>Own It</h3>
                </div>
            </div>
            <div class="row align-items-end" style="margin-top: 50px;">
                <div class="footer">
                    <div class="col-sm-1"><img class="icon-cup" src="/public/images/cup.svg" alt=""></div>
                    <div class="col-xs-11">
                        <b>We are an award winning trusted partner</b>
                        <br class="hidden-xs">
                        to local and international organisations in Capital Markets, Public Sector, and Private Sector.
                        <br class="hidden-xs">
                        We deliver innovative digital solutions that enable our customers to transform and improve the way they do business
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="alt-gray">
        <div class="container">
            <header class="section-header">
                <h2 class="title">Technologies</h2>
                <div class="subtitle">
                    We believe that amazing technologies
                    <br class="hidden-xs">
                    form the foundation of a successful project.
                </div>
            </header>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                    <div class="row tech-logos">
                        <!-- Java -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Java">
                                <img src="/public/images/tech/java.svg" alt="Java">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Spring Boot">
                                <img src="/public/images/tech/spring-boot.png" alt="Spring Boot">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Gradle">
                                <img src="/public/images/tech/gradle.png" alt="Gradle">
                            </div>
                        </div>

                        <!-- Web -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="JavaScript">
                                <img src="/public/images/tech/javascript.svg" alt="JavaScript">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="React">
                                <img src="/public/images/tech/react.svg" alt="React">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Redux">
                                <img src="/public/images/tech/redux.svg" alt="Redux">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="webpack">
                                <img src="/public/images/tech/webpack.svg" alt="webpack">
                            </div>
                        </div>

                        <!-- Data -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="PostgreSQL">
                                <img src="/public/images/tech/postgresql.svg" alt="PostgreSQL">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Neo4j">
                                <img src="/public/images/tech/neo4j.svg" alt="Neo4j">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Elasticsearch">
                                <img src="/public/images/tech/elasticsearch.svg" alt="Elasticsearch">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="etcd">
                                <img src="/public/images/tech/etcd.svg" alt="etcd">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="RabbitMQ">
                                <img src="/public/images/tech/rabbitmq.svg" alt="RabbitMQ">
                            </div>
                        </div>

                        <!-- Go -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Go">
                                <img src="/public/images/tech/go.svg" alt="Go">
                            </div>
                        </div>

                        <!-- DevOps -->
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Docker">
                                <img src="/public/images/tech/docker.png" alt="Docker">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Ansible">
                                <img src="/public/images/tech/ansible.svg" alt="Ansible">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Kubernetes">
                                <img src="/public/images/tech/kubernetes.svg" alt="Kubernetes">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Nginx">
                                <img src="/public/images/tech/nginx.svg" alt="Nginx">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <div class="logo with-tooltip" data-title="Git">
                                <img src="/public/images/tech/git.svg" alt="Git">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <header class="section-header">
                <h2 class="title">Ways of Working</h2>
                <div class="subtitle">
                    We use simple tools and follow a painless process.
                </div>
            </header>
            <div class="row">
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/slack.svg" alt="Slack">
                    <h3>Slack</h3>
                    <p>To always be in touch.</p>
                </div>
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/trello.svg" alt="Trello">
                    <h3>Trello</h3>
                    <p>For planning all the things.</p>
                </div>
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/markdown.svg" alt="Confluence">
                    <h3>Markdown</h3>
                    <p>To organize research.</p>
                </div>
                <div class="col-xs-6 col-sm-3 section-point">
                    <img class="icon" src="/public/images/tools/diy.svg" alt="DIY">
                    <h3>DIY</h3>
                    <p>For all that is missing.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="alt-gray">
        <div class="container">
            <header class="section-header">
                <h2 class="title">Join Us</h2>
                <div class="subtitle">
                    Join a team of highly-skilled engineers
                    <br class="hidden-xs">
                    that are genuinely in love with software delivery.
                </div>
            </header>
            <div class="row">
                <div class="col-sm-4 section-point">
                    <img class="icon" src="/public/images/empowered.svg" alt="">
                    <h3>We empower</h3>
                    <p>
                        Everyone is involved in architectural decisions and anyone can lead —
                        the only requirement is having skills and passion for the job.
                    </p>
                </div>
                <div class="col-sm-4 section-point">
                    <img class="icon" src="/public/images/enlightened.svg" alt="">
                    <h3>We learn</h3>
                    <p>
                        One of our traditions is to host internal workshops about the new and shiny.
                        We also have a self-education budget for every employee.
                    </p>
                </div>
                <div class="col-sm-4 section-point">
                    <img class="icon" src="/public/images/open-source.svg" alt="">
                    <h3>We share</h3>
                    <p>
                        We <i class="fa fa-heart heart"></i> open source and give back to the community.
                        Open-source contributions aren’t just our hobby — it’s part of the job.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="m-top-lg">
                    <a class="section-button btn btn-default btn-lg" href="/careers/senior-software-engineer/">
                        <i class="fa fa-arrow-right fa-fw"></i>
                        Senior Software Engineer
                    </a>
                    <a class="section-button btn btn-default btn-lg" href="/careers/software-engineer/">
                        <i class="fa fa-arrow-right fa-fw"></i>
                        Software Engineer
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding">
        <div id="neueda-map"></div>
    </section>
</div>
{{ end }}
