body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #3a3c4a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
}

.m-top {
    margin-top: 20px;
}

.m-top-lg {
    margin-top: 40px;
}

.btn {
    height: 36px;
    border-radius: 36px;
    border-width: 2px;
    font-size: 14px;
    line-height: 20px;
    background: none;
    color: inherit;
}

.btn-lg {
    height: 48px;
    border-radius: 48px;
    font-size: 18px;
    line-height: 24px;
}

.main-header {
    background-color: #00a9e0;
}

.main-header-img {
    height: 354px;
}

@media (min-width: 992px) {
    .main-header-img {
        margin-right: 100px;
    }
}

@media (min-width: 1200px) {
    .main-header-img {
        margin-right: 150px;
    }
}

.main-header-content {
    padding: 60px 20px;
    color: #fff;
    font-size: 24px;
}

@media (max-width: 767px) {
    .main-header-content {
        padding: 40px 0;
        text-align: center;
    }
}

.main-header-content h1 {
    font-weight: bold;
    font-size: 56px;
}

.main-header-content img.logo {
    margin-bottom: 30px;
}

section {
    padding: 100px 0;
    font-weight: lighter;
    text-align: center;
}

section.alt-gray {
    background-color: #f2f2f2;
}

section.alt-black {
    background-color: #1d2026;
    font-weight: normal;
    color: #fff;
}

section img.icon {
    height: 120px;
}

.section-header {
    margin-bottom: 80px;
}

.section-header .title {
    margin: 20px;
    font-size: 48px;
    font-weight: bold;
}

.section-header .subtitle {
    margin: 20px;
}

.section-point {
    text-align: center;
}

.section-highlight {
    margin: auto 20px;
    font-size: 21px;
}

section .tech-logos .logo {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    position: relative;
}

section .tech-logos img {
    max-width: 80px;
    max-height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .tech-logos .logo:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 2px 10px;
    line-height: 26px;
    height: 30px;
    border-radius: 30px;
    white-space: pre;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

section .tech-logos .logo:hover:after {
    opacity: 1;
}

section .user-groups {
    height: 100px;
    line-height: 100px;
}

section .user-groups img {
    vertical-align: bottom;
    width: 60px;
}
